@{
    ViewBag.Title = "Index";
}

<form action="#" method="POST">

    <div>
        <h4>Login</h4>
    </div>
    <div>
        <input type="text" name="login" />
    </div>

    <div>
        <h4>Senha</h4>
    </div>
    <div>
        <input type="password" name="senha" />
    </div>

    <input type="submit" name="enviar" value="Enviar" />

    <input type="submit" name="enviar" value="Registrar-se" />


</form>

